<% obj.each do |article| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="article-title">
            <%= link_to article.title, article_path(article) %>
          </div>
          <div class="article-body">
            <p><%= truncate(article.description, length: 250) %></p>
            <div class="article-meta-data">
              <small>
                Created by: <%= article.user.username if article.user %>,
                <%= time_ago_in_words(article.created_at) %> ago,
                Last Updated: <%= time_ago_in_words(article.updated_at) %> ago
              </small>
            </div>
          </div><!--article-body-->
          <br>
          <div class="article-actions">
            <a href="/articles/<%= article.id %>/edit" class="btn btn-xs btn-primary">Edit article</a>
            <%= link_to 'Delete this article', article_path(article),
                        method: :delete, data: {confirm: 'Are you sure you want to delete this article?'},
                        class: 'btn btn-xs btn-danger' %>
          </div><!--article-actions-->
        </div><!--well-->
      </div>
    </div>
<% end %>